{% extends "base.html" %}
{% load fiber_tags%}
{% load staticfiles %}

{% block main_content %}
    <div class="center"><img id="square" class="center" /> <img id="square" class="center" /> <img id="square" class="center" /></div>
    <p>&nbsp;</p>
    <section class="content">
    {% if dissertation_list %}
        {%  regroup dissertation_list|dictsortreversed:"year" by year as sorted_list %} <hr>
        {% for dissertation in sorted_list %}
            <h4 style="text-align: center;">{{ dissertation.grouper }}</h4>
            {% for item in dissertation.list %}

                <ul>
                    <li>
                        <b>{{ item.author_last_name }}, {{ item.author_given_names }}. {{ item.year }}. </b>
                        {{ item.title.strip|removetags:"p"|safe }}. {{ item.publisher }}. {{ item.pages }} pp. <br>
                        {% if item.abstract_media %}
                            <a href="{{ item.abstract_media.url }}">Abstract</a>
                        {% endif %}
                        {% if item.thesis_media %}
                            <a href="{{ item.thesis_media.url }}">Thesis</a>
                        {% endif %}
                    </li>

            </ul>

            {% endfor %}

            <hr>

        {% endfor %}
    {% endif %}
    </section>
{% endblock %}
