{% extends "base.html" %}
{% load fiber_tags%}
{% load staticfiles %}

{% block main_content %}
    <div class="center"><img id="square" class="center" /> <img id="square" class="center" /> <img id="square" class="center" /></div>
    <p>&nbsp;</p>
    <section class="content">

<table>
          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2013</font></b> </div></td>

          </tr>

     <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Ian Jacob Wallace.pdf">PDF</a>]<br>

4mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Ian Jacob Wallace abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Wallace, Ian Jacob. 2013.</strong> Physical Activity and Genetics as Determinants of Limb Bone Structure. Anthropological Sciences, Stony Brook University. 148 pp.</td>

          </tr>



           <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Jennifer_Parkinson_2013.pdf">PDF</a>]<br>

26mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Jennifer_Parkinson_2013_abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Parkinson, Jennifer. 2013.</strong> A GIS Image Analysis Approach to Documenting Oldowan Hominin Carcass Acquisition: Evidence from Kanjera South, FLK Zinj, and Neotaphonomic Models of Carnivore Bone Destruction. Department of Anthropology, City University of New York. 295 pp.</td>

          </tr>

          <tr>

            <td colspan="3">

            <p align="left"><font face="Arial" size="2">&nbsp;</font></p>            </td>

          </tr>


          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2012</font></b> </div></td>

          </tr>

 <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Zach_Cofran_2012_dissertation.pdf">PDF</a>]<br>

2.6mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Zach_Cofran_2012_abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Cofran, Zachary. 2012.</strong> Mandibular Growth in <i>Australopithecus robustus</i>. Department of Anthropology, University of Michigan. 208 pp.</td>

          </tr>

          <tr>

            <td colspan="3">

            <p align="left"><font face="Arial" size="2">&nbsp;</font></p>            </td>

          </tr>



		<tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2010</font></b> </div></td>

          </tr>



          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Emanuele Cancellieri.pdf">PDF</a>]<br>

27.8mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Emanuele Cancellieri-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Cancellieri, Emanuelle. 2010.</strong> From the watershed to the Great Adriatic Plain: an investigation on humans and landscape ecology during the late Upper Paleolithic. The significance of lithic technology. University of Ferrara. 332pp.</td>

          </tr>

          <tr>

            <td colspan="3">

            <p align="left"><font face="Arial" size="2">&nbsp;</font></p>            </td>

          </tr>



          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2009</font></b> </div></td>

          </tr>





          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/V. Hutton Estabrook.pdf">PDF</a>]<br>

2.2mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/V. Hutton Estabrook-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Estabrook, V.H. 2009</strong> Sampling Biases and New Ways of Addressing the Significance of Trauma in Neandertals. Department of Anthropology. University of Michigan. 407pp.</td>

          </tr>



          <tr>

            <td valign="top" width=80><font face="Arial" size="2">

 [<a href="/static/dissertations/Alexander MacKay-Vol 1.pdf">PDF-Vol 1</a>]<br>

 [<a href="/static/dissertations/Alexander MacKay-Vol 2.pdf">PDF-Vol 2</a>]<br>

14mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/alexander mackay-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Mackay, A. 2009. </strong>History and selection in the late Pleistocene archaeology of the Western Cape, South Africa. School of Archaeology and Anthropology, Australian National University, Canberra.

</td>

          </tr>



          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/M Aurelien Mounier.pdf">PDF</a>]<br>

15.0mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/M Aurelien Mounier-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Mounier, A. 2009.</strong> Validité du taxon Homo heidelbergensis Schoetensack, 1908. Thèse d'Anthropologie Biologique, Faculté de Médecine, Université de la Méditerranée, Marseille. 514pp.</td>

          </tr>

          <tr>

            <td colspan="3">

            <p align="left"><font face="Arial" size="2">&nbsp;</font></p>            </td>

          </tr>



          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2008</font></b> </div></td>

          </tr>





          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Jeremy DeSilva.pdf">PDF</a>]<br>

9.4mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/jeremy desilva-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>DeSilva, Jeremy. 2008</strong>Vertical Climbing Adaptations in the Anthropoid Ankle and

Midfoot: Implications for Locomotion in Miocene

Catarrhines and Plio-Pleistocene Hominins. The University of Michigan. 363pp.</td>

          </tr>







          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/alexandra de sousa.pdf">PDF</a>]<br>

8.12mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/alexandra de sousa-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>de Sousa, Alexandra. 2008</strong> Hominoid Brain Organization: Histometric and Morphometric Comparisons of Visual Brain Structures. The George Washington University. 298pp.</td>

          </tr>

<tr>

<td valign="top"><font face="Arial" size="2">[<a href="/static/dissertations/Christopher Gilbert.pdf">PDF</a>]<br>8.01mb</font></td>

<td valign="top"><a href="/static/dissertations/Christopher Gilbert-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

<td><strong>Gilbert, Christopher. 2008.</strong> African Papionin Phylogenetic History and Plio-Pleistocene Biogeography. Department of Anthropology, Stony Brook University. 196pp.</td>

</tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Rebecca Jabbour.pdf">PDF</a>]<br>

8.65mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Rebecca Jabbour-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Jabbour, Rebecca S. 2008.</strong> Geographic Variation in the Forelimb and Hindlimb Skeletons of African Apes. Department of Anthropology, The City University of New York. 602pp.</td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Michael Masters.pdf">PDF</a>]<br>

741kb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Michael Masters-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Masters, Michael P. 2008.</strong> Modern Variation and Evolutionary Change in the Hominin Eye Orbit. Department of Anthropology, The Ohio State University. 160pp.</td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Utsav%20Schurmans.pdf">PDF</a>]<br>

5.9mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Utsav%20Schurmans-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Schurmans, Utsav A. 2008. </strong>The Production of Small Flakes in the Middle Paleolithic: A New Look at Assemblage Variability. Department of Anthropology, University of Pennsylvania. 317pp. </td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Matthew%20Skinner.pdf">PDF</a>]<br>

3.3mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Matthew%20Skinner-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Skinner, Matthew. 2008. </strong>Enamel-dentine junction morphology of extant hominoid and fossil hominin lower molars. Department of Anthropology, George Washington University. 202pp. </td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Robert%20Stallman.pdf">PDF</a>]<br>

16.4mb</font></td>

<td valign="top"><a

 href="/static/dissertations/Robert%20Stallman-Abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td><td><b>Stallman, Robert R. 2008.</b> The Pace and Processes of Early Divergence and Statis: Morphological Evolution in Isolated Populations of the Sulawesi Booted Macaque, <i>Macaca orchreata</i> (Cercopithecidae). Department of Anthropology, University of California Davis. 306pp.</td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Jessica%20Thompson.pdf">PDF</a>]<br>

20.2mb</font></td>

<td valign="top"><a

 href="/static/dissertations/Jessica%20Thompson-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

<td><b>Thompson, Jessica.  2008.</b> Zooarchaeological tests for modern human behavior at Blombos Cave and Pinnacle Point Cave 13B, southwestern Cape, South Africa. School of Human Evolution and Social Change, Arizona State University. 523pp.</td>

          </tr>

          <tr>

            <td colspan="3">

            <p align="left"><font face="Arial" size="2">&nbsp;</font></p>            </td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2007</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Genevieve Dewar.pdf">PDF</a>]<br>

15.5mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Genevieve Dewar-Abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><b>Dewar, Genevieve. 2007</b>  The archeology of the coastal desert of<br>

              Namaqualand, South Africa: a regional synthesis. Department of Archaeology.  University of Cape Town. 320pp.</td>

          </tr>



          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Charles Egeland.pdf">PDF</a>]<br>

8.9mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Charles Egeland-Abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><b>Egeland, Charles. 2007</b>  Zooarchaeological and Taphonomic Perspectives on Hominid and Carnivore Interactions at Olduvai Gorge, Tanzania.

Department of Anthropology. Indiana University.313pp.</td>

          </tr>





          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Briana%20Pobiner.pdf">PDF</a>]<br>

8.5mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Briana%20Pobiner-Abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Pobiner, Briana Lee. 2007 </strong>Hominin-Carnivore Interactions: Evidence from Modern Carnivore Bone Modification and Early Pleistocene Archaeofaunas (Koobi Fora, Kenya; Olduvai Gorge, Tanzania). Rutgers, The State University of New Jersey.&nbsp; 575pp.</td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Matthew%20Tocheri.pdf">PDF</a>]<br>

4.1mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Matthew%20Tocheri-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Tocheri, Matthew. 2007</strong> Three-dimensional riddles of the radial wrist:

              Derived carpal and carpometacarpal joint morphology in the genus Homo

              and the implications for understanding the evolution of stone

              tool-related behaviors in hominins. Department of Anthropology, Arizona State

            University. 326pp. </td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a

 href="/static/dissertations/Yongwook%20Yoo.pdf">PDF</a>]<br>

6.8mb</font></td>

            <td valign="top"><a

 href="/static/dissertations/Yongwook%20Yoo-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Yoo, Yongwook. 2007 </strong>Long-Term Changes in the Organziation of Lithic Technology: A Case Study from the Imjin-Hantan River Area, Korea. McGill University. 369pp. </td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top"></td>

            <td></td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2006</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Miriam%20Belmaker.pdf">PDF</a>]<br>6.8mb</font></td>

            <td valign="top" > <a href="/static/dissertations/Miriam%20Belmaker-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <b>Belmaker, Miriam.&nbsp; 2006</b>&nbsp; Community Structure through Time: 'Ubeidiya, a&nbsp; Lower Pleistocene Site as a Case Study.&nbsp; The Hebrew University of Jerusalem.&nbsp; 284pp.</td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Jason%20Heaton.pdf">PDF</a>]<br>

            8.1mb</font></td>

            <td valign="top" >

            <a href="/static/dissertations/Jason%20Heaton-Abstract.pdf"> <font face="Arial" size="2">

            Abstract</font></a></td>

            <td > <b>Heaton, Jason 2006</b>

            Taxonomy of the Sterkfontein Fossil Cercopithecinae: The Papionini

            of Members 2 and 4 (Gauteng, South Africa).&nbsp; Indiana

            University. 479pp.</td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Jackson%20Njau.pdf">PDF</a>]<br>15.2mb</font></td>

            <td valign="top" > <a href="/static/dissertations/Jackson%20Njau-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <b>Njau, Jackson</b>.&nbsp; <b>2006</b> The Relevance of Crocodiles to Oldowan Hominin Paleoecology at Olduvai Gorge, Tanzania.&nbsp; Rutgers, The State University of New Jersey.&nbsp; 324pp.</td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a href="/static/dissertations/Anthony%20Olejniczak.pdf">PDF</a>]<br>33.8mb</font></td>

            <td valign="top"><a href="/static/dissertations/Anthony%20Olejniczak-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Olejniczak, Anthony. 2006</strong> Micro-Computed Tomography of Primate Molars. Stony Brook University. 242pp. </td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/luke%20premo.pdf">PDF</a>]<br>1.9mb</font></td>

            <td valign="top" >

            <a href="/static/dissertations/luke%20premo-abstract.pdf"> <font face="Arial" size="2">

            Abstract</font></a></td>

            <td >  <b>Premo, L.S. 2006 </b>Patchiness and Prosociality: Modeling the Evolution and&nbsp; Archaeology of Plio-Pleistocene Hominin

            Food Sharing. University of Arizona. 358pp.</td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Adam%20Van%20Arsdale.pdf">PDF</a>]<br>

            3.8mb</font></td>

            <td valign="top" >

            <a href="/static/dissertations/Adam%20Van%20Arsdale-Abstract.pdf"> <font face="Arial" size="2">

            Abstract</font></a></td>

            <td > <font face="Arial"><b>Van Arsdale, A.&nbsp;

            2006&nbsp; </b>Mandibular variation in early <em>Homo</em> from

              Dmanisi,

            Georgia.&nbsp; Department of Anthropology, University of Michigan. 244pp.</font><font face="Arial">&nbsp;</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top"></td>

            <td></td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2005</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/yoshiko%20abe.pdf">PDF</a>]<br>27.4mb</font></td>            <td valign="top" > <a href="/static/dissertations/yoshiko%20abe-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Abe, Yoshiko.&nbsp; 2005 </b>Hunting and Butchery Patterns of the Evenki in Northern Transbaikalia, Russia.&nbsp; Stony Brook University.&nbsp; 555pp.</font></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Andrew%20Kandel.pdf">PDF</a>]<br>11.0mb</font></td>

            <td valign="top" > <a href="/static/dissertations/Andrew%20Kandel-Abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Kandel, A. 2005 </b>Comparative Studies in Landscape Archaeology.&nbsp; University of Tübingen. 201pp.</font></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Thomas%20Minichillo.pdf">PDF</a>]<br>8.6mb</font></td>

            <td valign="top" > <a href="/static/dissertations/Thomas%20Minichillo-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Minichillo, T.J. 2005&nbsp; </b>Middle Stone Age Lithic Study, South Africa: An Examination of Modern Human Origins. University of Washington. 298pp.</font></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Joanne%20Tactikos.pdf">PDF</a>]<br>

            13.3mb</font></td>

            <td valign="top" >

            <a href="/static/dissertations/Joanne%20Tactikos-abstract.pdf"> <font face="Arial" size="2">

            Abstract</font></a></td>

            <td > <font face="Arial"><b>Tactikos, J.C. 2005</b> A Landscape Perspective on the Oldowan from Olduvai Gorge, Tanzania.&nbsp;

            Rutgers, The State University of New Jersey.&nbsp; 284pp.</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top"></td>

            <td></td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2004</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a

 href="/static/dissertations/william%20Banks.pdf">PDF</a>]<br>

              5.8mb</font></td>

            <td valign="top" > <a

 href="/static/dissertations/william%20banks-abstract.pdf"> <font face="Arial" size="2"> Abstract</font>

              </a>

            <p>&nbsp;</p>            </td>

            <td > <font face="Arial"><b>Banks,

              William.&nbsp; 2004 </b>Toolkit Structure and Site Use: Results of

              a High-Power Use-Wear Analysis of Lithic Assemblages from Solutré

              (Saône-et-Loire), France.&nbsp; University of Kansas. 179pp.</font></td>

          </tr>

          <tr>

            <td style="vertical-align: top;"><font face="Arial" size="2">[<a href="/static/dissertations/Sandi%20Copeland.pdf">PDF</a>]<br>4.2mb</font></td>

            <td style="vertical-align: top;">

            <a href="/static/dissertations/Sandi%20Copeland-Abstract.pdf"><font face="Arial" size="2">

            Abstract</font></a></td>

            <td style="vertical-align: top;"><font face="Arial"><span style="font-weight: bold">Copeland, Sandi.&nbsp;  2004</span> Paleoanthropological Implications of Vegetation and Wild Plant Resources in Modern Savanna Landscapes, With Implications to Plio-Pleistocene Olduvai Gorge, Tanzania.&nbsp; Rutgers, The State University of New Jersey. 422pp.</font></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Eugene%20Morin.pdf">PDF</a>]<br>

            4.9mb</font></td>

            <td valign="top" >

            <a href="/static/dissertations/Eugene%20Morin-Abstract.pdf"> <font face="Arial" size="2">

            Abstract</font></a></td>

            <td > <font face="Arial"><b>Morin, Eugène. 2004</b> Late Pleistocene population interaction in Western Europe and modern

            human origins: New insights based on the faunal remains from Saint-Césaire,

            southwestern France.&nbsp; University of Michigan. 450pp.</font></td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a href="/static/dissertations/Colin%20Moyer.pdf">PDF</a>]<br>7.7mb</font></td>

            <td valign="top"><a href="/static/dissertations/Colin%20Moyer-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Moyer, C.C. 2004</strong> The Organisation of Lithic Technology in the Middle and Early Upper Palaeolithic Industries at the Haua Fteah, Libya. University of Cambridge. 298pp. </td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/tanya%20smith.pdf">PDF</a>]<br>24.7mb</font></td>

            <td valign="top" > <a href="/static/dissertations/tanya%20smith-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"> <b>Smith, T.M.&nbsp; 2004 </b> Incremental Development of Primate Dental Enamel. Stony Brook University.&nbsp; 370pp.</font></td>

          </tr>

          <tr>

            <td valign="top"><p><font face="Arial" size="2">[<a href="/static/dissertations/Paul%20Tafforeau.pdf">PDF</a>]<br>(high res)<br>188.4mb<br>

  <br>[<a href="/static/dissertations/Paul%20Tafforeau-lowres.pdf">PDF</a>]<br>(lowres) <br>20.1mb  <br>  </font></p>

              <p><font face="Arial" size="2"><br>

              </font></p></td>

            <td valign="top"><a href="/static/dissertations/Paul%20Tafforeau-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td valign="top"><strong>Tafforeau, Paul. 2004</strong> Aspects Phylogenetiques et fonctionnels de la microstructure de l'email dentaire et de la structure tridimensionnelle des molaires chez les primates fossiles et actuels: Apports de la mircotomographie &agrave; rayonnement X synchrotron. Universit&eacute; Montpellier II. 284pp. </td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>

            <td>&nbsp;</td>

          </tr>


          <tr>

            <td valign="top" colspan="3">

              <div align="center"><b><font size="2" face="Arial">2003</font></b></div></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;<font face="Arial" size="2">[<a href="/static/dissertations/Varsha%20Pilbrow.pdf">PDF</a>]<br>

              3.4mb</font></td>

            <td valign="top"><a href="/static/dissertations/Varsha%20Pilbrow-abstract.pdf"><font face="Arial" size="2"> Abstract</font></a></td>

            <td><font face="Arial"><b>Pilbrow, Varsha. 2003</b> Dental variation in African apes with implications for understanding patterns of variation in species of fossil apes. 366pp.</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;<font face="Arial" size="2">[<a href="/static/dissertations/Helene%20Rougier.pdf">PDF</a>]<br>

              4.2mb</font></td>

            <td valign="top"><a href="/static/dissertations/Helene%20Rougier-abstract.pdf"><font face="Arial" size="2"> Abstract</font></a></td>

            <td><font face="Arial"><b>Rougier, Hélène. 2003</b> Étude descriptive et comparative

              de Biache-Saint-Vaast I (Biache-Saint-Vaast, Pas-De-Calais, France). Université Bordeaux I. 424pp.</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>

            <td>&nbsp;</td>

          </tr>



          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font size="2" face="Arial">2002</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/shara%20Bailey.pdf">PDF</a>]<br>2.1mb</font></td>

            <td valign="top" > <a href="/static/dissertations/shara%20bailey-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Bailey, Shara.&nbsp; 2002</b>&nbsp;

              Neandertal Dental Morphology: Implications for Modern Human Origins.&nbsp; Arizona State University.&nbsp; 238pp.</font></td>

          </tr>

          <tr>

            <td valign="top"><font face="Arial" size="2">[<a href="/static/dissertations/florent rivals.pdf">PDF</a>]<br>10.4mb</font></td>

            <td valign="top"><a href="/static/dissertations/florent rivals-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td><strong>Rivals, Florent. 2002</strong> Les petits bovid&eacute;s pl&eacute;istoc&egrave;nes dans le bassin m&eacute;diterran&eacute;en et le Caucase. Etude pal&eacute;ontologique, biostratigraphique, arch&eacute;ozoologique et pal&eacute;o&eacute;cologique. PhD dissertation. Perpignan: Universit&eacute; de Perpignan. 417 pp.</td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a

 href="/static/dissertations/marie%20soressi.pdf">PDF</a>]<br>

6.1mb</font></td>

            <td valign="top" > <a

 href="/static/dissertations/marie%20soressi-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"> <strong>Soressi, M. 2002</strong> Le Moustérien de tradition acheuléenne du sud-ouest de la France. Discussion sur la signification du faciès à partir de l'étude comparée de quatre sites : Pech-de-l'Azé I, Le Moustier, La Rochette et la Grotte XVI. Thèse de l'Université Bordeaux I. 339 pp.</font></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/teresa%20steele.pdf">PDF</a>]<br>3.0mb</font></td>

            <td valign="top" > <a href="/static/dissertations/teresa%20steele-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td ><font face="Arial"><b>Steele, T.E. 2002</b> Red Deer: Their Ecology and How They Were Hunted by Late Pleistocene Hominids in Western Europe. Stanford University.&nbsp; 274 pp.</font></td>

          </tr>

          <tr>

            <td valign="top"> <font face="Arial" size="2">[<a href="/static/dissertations/timothy%20weaver.pdf">PDF</a>]<br>2.9mb</font></td>

            <td valign="top" > <a href="/static/dissertations/Timothy%20Weaver-Abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"> <b>Weaver, T.D. 2002</b> A multi-causal functional analysis of hominid hip morphology. Stanford University. 221 pp.</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top"></td>

            <td></td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><b><font face="Arial" size="2">2001</font></b> </div></td>

          </tr>

          <tr>

            <td valign="top"> <font face="Arial" size="2">[<a href="/static/dissertations/stephen%20frost.pdf">PDF</a>]<br>42.4mb</font></td>

            <td valign="top"> <a href="/static/dissertations/stephen%20frost-abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Frost, S.R.</b> <b>&nbsp;2001 </b>Fossil Cercopithecidae from the Afar Depression, Ethiopia: Species systematics and comparison to the Turkana Basin. City University of New York. 463pp.</font></td>

          </tr>

          <tr>

            <td valign="top"> <font face="Arial" size="2">[<a href="/static/dissertations/Anne%20Weaver.pdf">PDF</a>]<br>1.5mb</font></td>

            <td valign="top"> <a href="/static/dissertations/Anne%20Weaver_Diss-Abstract.pdf"> <font face="Arial" size="2"> Abstract</font></a></td>

            <td > <font face="Arial"><b>Weaver,A.H. 2001</b> The Cerebellum and Cognitive Evolution in Pliocene and Pleistocene Hominids.&nbsp; University of New Mexico.&nbsp; 309pp.</font></td>

          </tr>

          <tr>

            <td valign="top">&nbsp;</td>

            <td valign="top"></td>

            <td></td>

          </tr>



          <tr>

            <td colspan="3" valign="top"> <div align="center"><font face="Arial" size="2"><b>1999</b></font> </div></td>

          </tr>

          <tr>

            <td valign="top" ><font face="Arial" size="2">[<a href="/static/dissertations/Emmanuel%20Cleuvenot.pdf">PDF</a>]<br>3.0mb</font></td>

            <td valign="top"><a href="/static/dissertations/emmanuel%20cleuvenot-abstract.pdf"><font face="Arial" size="2">Abstract</font></a></td>

            <td > <font face="Arial"><b>Cleuvenot, Emmanuel. 1999</b> Courbures Sagittales de la Colonne Vertebrale Determinees par la Morphologie des Vertebres.  Developpement d'une Nouvelle Methodologie et Application chez <i>Homo sapiens</i>. Université de Bordeaux I.&nbsp; 317pp.</font><font face="Arial">&nbsp;</font></td>

          </tr>

          <tr>

            <td colspan="2" valign="top">&nbsp;</td>

            <td >&nbsp;</td>

          </tr>

          <tr>

            <td colspan="3" valign="top"> <div align="center"><font face="Arial" size="2"><b>1997</b></font> </div></td>

          </tr>

          <tr>

            <td valign="top"> <font face="Arial" size="2">[<a href="/static/dissertations/Abdeljalil%20Bouzouggar.pdf">PDF</a>]<br>

              36.7mb</font></td>

            <td valign="top"><a href="/static/dissertations/Abdeljalil%20Bouzouggar-abstract.pdf"><font face="Arial" size="2">Abstract</font></a> </td>

            <td > <font face="Arial"><b>Bouzouggar,

              Abdeljalil. 1997</b> Matières premières, processus de

              fabrication et de gestion des supports d'outils dans la séquence

              atérienne de la grotte des Contrabandiers à Témera.&nbsp;

              Université de Bordeaux I.&nbsp; 312pp.</font><font face="Arial">&nbsp;</font></td>

          </tr>





          <tr>

            <td colspan="2" valign="top"> <font face="Arial" size="2">&nbsp; </font></td>

            <td > <font face="Arial" size="2">&nbsp; </font></td>

          </tr>



          <tr>

            <td colspan="3" valign="top"> <div align="center"><font face="Arial" size="2"><b>1994</b></font> </div></td>

          </tr>

          <tr>

            <td valign="top" > <font face="Arial" size="2">[<a href="/static/dissertations/Tracey%20Crummett.pdf">PDF</a>]<br>

              12.5b</font></td>

            <td valign="top" ></td>

            <td > <font face="Arial"><b>Crummett, Tracey. 1994</b> The evolution of shovel shaping: Regional and temporal variation in human incisor morphology. 363pp.</font></td>

          </tr>

          <tr>

            <td colspan="2" valign="top"> <font face="Arial" size="2">&nbsp; </font></td>

            <td > <font face="Arial" size="2">&nbsp; </font></td>

          </tr>



  </table>
    </section>
{% endblock %}