{% extends "base.html" %}
{% load fiber_tags%}
{% load staticfiles %}

{% block logo %}
<div id="logo">
    <a href="/home">
        <img id="logo_image" src="{% static 'paleoanthro_images/skull_grey150.jpg' %}"></a>
    <img src="{%  static 'paleoanthro_images/journalbanner.gif' %}">
</div>
{% endblock %}

{% block search_bar %}

    <form method="get" action="/journal/search/">
        <label for="id_q">Search:</label>
        <input type="text" name="query" id="id_q"/>
        <input type="submit" value="Submit"/>
    </form> <hr>

{% endblock %}